@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&display=swap&subset=cyrillic,cyrillic-ext');

#map {
    width: 100%;
    height: 100%;
}

body {
    margin:0;
    padding:0;
    font-family:'Open Sans', Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #020108;;
}

::-webkit-scrollbar-thumb {
    background-color: #3b383a;
}
.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: row;
    flex: 1;
}


.left-column {
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #020108;
    box-shadow: 0px 0px 16px rgba(67, 29, 11, 0.19);
    color:white;
    width: 354px;

    img.logo{
        margin: 29px 0 23px 17px;
    }
}

.right-column {
    display: flex;
    flex: 1;
    align-items: stretch;
    div{
        flex: 1;
    }
}


@media (max-width: 768px) {
    .page {
    }
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.barCharts{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background: lavender;
    .closeBtn{
        float: right;
        color:coral;
    }
}

.cafeCard{
    padding: 22px 17px 7px;
    margin-top: 2px;

    &-absolute{
        position: relative;
        bottom: 0;
        left:0;
        right:0;
        background: #CE556A;
        border-radius: 6px 6px 0 0;
        box-shadow: 0px -4px 16px rgba(206, 85, 106, 0.4);
        color:black;
        min-height:100px;

        .cafeCard--address{
            white-space: normal !important;
        }

        .cafeCard--content{
            display: inline !important;
        }
    }

    .cafeCard--header{
        font-weight: 800;
        font-size: 20px;
        line-height: 110%;
        margin: 0 18px 4px 0;

    }

    .cafeCard--closeBtn{
        position: absolute;
        right: 16px;
        top: 16px;
        cursor: pointer;
    }

    .cafeCard--content{
        display: flex;
        font-size: 16px;

        .cafeCard--rating{
            display: inline;
            &:after {
                content: "★ · ";
                word-spacing: 2px;
                white-space: pre;
            }
        }
        .cafeCard--address{
            display: inline;
            white-space: nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
        }

        &--shedule{
            flex-direction: column;
            margin-top: 16px;
            margin-bottom:6px;
            &--row{
                flex-direction: row;
                display: flex;
                font-size: 16px;
                line-height: 16px;
                align-items: baseline;
                sup{
                    font-size: 10px;
                    vertical-align:top;
                    position: relative;
                    top: -1px;
                }
                :first-child{
                    flex:1;
                }
                :last-child{
                    flex:5;
                }
            }
        }

        &--flex{
            display: flex;
            flex-direction: row;

        }

        &--phones{
            margin-bottom: 14px;
        }

        &--website{
            display: inline-block;
            padding: 0px 12px 1px;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 999px;
            text-decoration:none;
            color: inherit;
            &:hover{
                opacity: 0.8;
            }
        }

        &--insta{
            display: block;
            margin: 5px 10px;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}

canvas#legend{
    width: 100%;
    height: 25px;
}

#cafeList{
    display: flex;
    flex-grow: 1;
    padding: 0;
}

.sidebar{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position:relative;



    ul.scrollable{
        position: absolute;
        top: 64px;
        bottom: 0;
        left:0;
        right:0;
        display: block;
        overflow-y: scroll;
        padding-left: 8px;
        margin: 10px 0 0;
    }
}

.filters {
    padding-bottom:32px;
    padding-left: 17px;

    .filter{
        background: rgba(196, 196, 196, 0.2);
        border-radius: 4px;
        border:none;
        color: #D0CDC6;
        font-size: 16px;
        font-style: italic;
        padding: 4px 12px;
        width:294px;
        &-rounded{
            border-radius: 999px;
            font-style: normal;
        }
    }

    .filterOpenNow,
    .filterEcoFriendly {
        padding: 2px 12px 4px;
        display: inline;
        cursor: pointer;

        &.__checked {
            background: #D0CDC6;
            color: #020108;
        }
        &:hover{
            background: rgba(196, 196, 196, 0.6);
            color: #D0CDC6;

        }
    }

    .filterEcoFriendly {
        margin-left: 5px;
    }

    .searchbar{
        margin-bottom: 12px;
    }

    .filterAverageCheck__slider {
        position: relative;
        height: 30px;
    }

    .filterAverageCheck__from,
    .filterAverageCheck__to {
        position: absolute;
        top: 50%;
    }

    .noUi-target {
        box-shadow: none;
        background: none;
        height: 0;
        top: 50%;
    }

    .noUi-handle {
        top: -3px !important;
        right: -3px !important;
        width: 6px !important;
        height: 6px !important;
        cursor: pointer;
        background: black;
        border-radius: 10px;
        box-shadow: none;

        &::before {
            top: -4px;
            left: -4px;
            width: 12px !important;
            height: 12px !important;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 20px;
        }

        &::after {
            display: none;
        }

        &:focus {
            outline: none;
        }
    }

    .noUi-connects,
    .noUi-connect,
    .noUi-pips,
    .noUi-marker {
        display: none;
    }
}
.scrollable {
    display: flex;
    flex-direction: column;

    .listItem {
        padding: 13px 3px 11px 11px;
        cursor: pointer;
        border: 1px solid black;
        box-sizing: border-box;
        border-radius: 8px;
        &:hover{
            border: 1px solid var(--mywar);
        }
    }
}

.connectingLineLayerSvg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.overlay{
    position: absolute;
    margin-top: -25px;
    display: flex;
    align-content: stretch;
    width: 100%;
    >div{
        flex: 1;
        &:first-child{
            padding-left:6px;
        }
        &:last-child{
            text-align: end;
            padding-right:6px;
        }
        &:nth-child(2){
            text-align: center;
            flex-grow: 0.5;
        }
        span{
            opacity: 0.5;
        }
    }

}

.marker {
    width:16px;
    height:16px;
    border-radius:50%;
    box-shadow:0 0 2px rgba(0,0,0,0.25);
    border:2px solid #000;
    cursor:pointer;
    animation: shadow-pulse 1s infinite;
}
@keyframes shadow-pulse
{
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}